/* Variable */
$primaryColor: white;
$secondaryColor: lightgreen;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#root {
  background-color: $primaryColor;
  color: $secondaryColor;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  h1 {
    margin: auto;
  }
}
